* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    align-items: center;
    box-sizing: border-box;
}
li a {
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding: 5px 0;
    background-color: #148f77;
    margin: 0;
}
.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    margin: 0;
}

.container .li  {
    width: 80%;
    margin:0 ;
    gap: 20px;
}
.container:after {
    content:" ";
    display: block;
    clear: both;
}
.logo a{
    text-decoration: none;
    color: #148f77;
    font-size: 24px;
}

.logo a:hover{
    color: #148f77;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul {
    display: flex;
    gap: 10px;
    margin: 0;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 16px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: #148f77;
    color: #fff ;
}
.active {
    background-color: #148f77;
    color: #fff ;
}
.banner {
    height: 60vh;
    background-image: url('img/banner.jpeg');
    background-size: cover;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 143, 119, .6);
}
.banner h2 {
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
section {
    padding: 50px 0;
}
section h2 {
    text-align: center;
    padding: 20px 0;
    color: #148f77;
    margin-bottom: 20px;
}
.about {
    padding-bottom: 100px;
}
.about p {
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
}
.service {
    background-color: #f9f9f9;
}
.box {
    color: #148f77 ;
}
.box::after {
    content: "";
    display: block;
    clear: both;
}
.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin: 0 auto;
}
.box .col-4 h4 {
    margin: 20px 0;
}
footer {
    padding: 30px 0;
}
.container-about{
    display: flex;
    align-items: center;
}
.text-about{
    text-align: center;
    align-items: center;
}
footer{
    padding: 15px;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: #fff;
}
.btn button{
    background-color: #148f77;
    color: #ffff;
    border-radius: 30px;
    transition: .6s;
}
.btn button:hover{
    scale: 1.08;
    color: #ffff;
}
.container-box.col-4{
    align-items: center;
}


