* {
    padding: 0;
    margin: 0;
    align-items: center;
}

.peges h1 {
    width: 10px;
}
/* footer{
    padding: 13px;
    align-items: center;
    text-align: center;
    /* background-color: #333;
    color: #fff;
     */
} */
